.offline, .online {
	display:none;
}
body {
    background:#903;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
button {
	background: #000;
	border:2px solid #fff;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	width:110px;
}
button:active {
	background: #fff;
	color:#000;
}
#splash .logo {
    background:url("img/logo.png");
    height:305px;
    margin:0 auto;
    width:318px;
}
#scrapePrompt {
    font-size:14px;
    margin:0 auto;
    text-align:center;
    width:280px;
}
#scrapePrompt button {
	margin:6px auto 0;
}
.header {
	height:26px;
	padding:5px 0;
	position:absolute;
		top:-46px;
		left:-2px;
		right:-2px
}
.header button {	
	background: #fff;
	border:1px solid #000;
	color:#000;
	margin:0;
	position:absolute;
		bottom:0;
	width:160px;
}
.header button:active {
	background: #000;
	color:#fff;
}
.revert {
	left:0;
}
.rescrape {
	right:0;
}
.content {
	border:1px solid #000;
	border-radius:4px;
	background:#fff;
	position:absolute;
		bottom:20px;
		left:20px;
		right:20px;
		top:50px;
}
.content h1 {
	font-size:18px;
	font-weight:bold;
	letter-spacing:4px;
	margin:0;
	padding:8px;
	text-align:center;
	text-transform: uppercase;
}
li { cursor:pointer;
    text-decoration:underline;
}
li:hover {
    text-decoration:none;
}
#issueList li {
    text-decoration:none;
    cursor:default;
}