body {
    background:#903;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.offline, .online {
	display:none;
}
#splash .logo {
    background:url("img/logo.png");
    height:305px;
    margin:0 auto;
    width:318px;
}
li { cursor:pointer;
    text-decoration:underline;
}
li:hover {
    text-decoration:none;
}
#issueList li {
    text-decoration:none;
    cursor:default;
}
#scrapePrompt {
    font-size:14px;
    margin:0 auto;
    text-align:center;
    width:280px;
}
.button {
	background: #000;
	border:2px solid #fff;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	margin:20px auto 0 auto;
	width:110px;
}
.button:hover {
	background: #fff;
	color:#000;
}
.header {
	height:26px;
	padding:5px 0;
	position:absolute;
		top:-46px;
		left:-2px;
		right:-2px
}
.header p {
	text-align:center;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	
	background: #fff;
	border:1px solid #000;
	border-radius:4px;
	color:#000;
	cursor:pointer;
	width:160px;
	margin:0;
	padding:0;
	position:absolute;
		bottom:0;
}
.header p:active {
	background: #000;
	color:#fff;
}
.revert {
	left:0;
}
.rescrape {
	right:0;
}
.content {
	border:1px solid #000;
	border-radius:4px;
	background:#fff;
	position:absolute;
		bottom:20px;
		left:20px;
		right:20px;
		top:50px;
}